@section Header {
    @Html.Partial("_IndexHeader")
}
@{
    int ForntPagePostCount = Context.Get<int>("ForntPagePostCount",3);
    int OlderPostsCount = Context.Get<int>("OlderPostsCount",3);
}
<div class="row">
    <div class="col-sm-8 right-border">
        @{
            bool first = true;
            foreach(IDocument doc in Documents[BlogKeys.Posts].Take(ForntPagePostCount))
            {                
                if (!first)
                {
                    <hr /> 
                }
                first = false;
                string lead = doc.String(BlogKeys.Lead);
                <div class="post-preview">
                    <a href="@Context.GetLink(doc)">
                        <h2 class="post-title">@doc.WithoutSettings.String(BlogKeys.Title)</h2>
                    </a>    
                    @if(!string.IsNullOrWhiteSpace(lead))
                    {
                        <h3 class="post-subtitle">@lead</h3>
                    }
                    <p class="post-meta"><i class="fa fa-clock-o"></i> Posted on @(doc.Get<DateTime>(BlogKeys.Published).ToLongDateString())</p>
                    @Html.Raw(doc.String(BlogKeys.Excerpt))             
                </div>       
            }
        }
        <ul class="pager">
            <li class="next">
                <a href="@Context.GetLink(Context.String(BlogKeys.PostsPath))">Archive &rarr;</a>
            </li>

        </ul>
    </div>
    <div class="col-sm-4 sidebar">
        <hr class="visible-xs-block" />
        <br />
        <div class = "well">
            @if(Context.String(BlogKeys.Description) != null)
            {
                <h3 class='no-anchor'>@Context.String(BlogKeys.Description)</h3>
            }
            @if(Context.String(BlogKeys.Intro) != null)
            {            
                <p>@Context.String(BlogKeys.Intro)</p>
            }
        </div>
        <div class = "well">
            <h5>Tags</h5>
            <div>
                @foreach (IDocument tagDocument in Documents[BlogKeys.Tags].OrderByDescending(x => x.DocumentList(BlogKeys.Posts).Count()).Take(10))
                { 
                    string tag = tagDocument.String(BlogKeys.Tag);
                    string postCount = tagDocument.DocumentList(BlogKeys.Posts).Count().ToString();
                    <a role="button" href="@Context.GetLink(tagDocument)" class="btn btn-default btn-sm"> @tag (@postCount)</a>
                }
            </div>     
            <ul class="pager">
                <li class="next">
                    <a href="/tags">View All Tags &rarr;</a>
                </li>
            </ul>   
        </div>
        
        @if( Documents[BlogKeys.Posts].Count()>ForntPagePostCount)
        {
        <div class = "well">
        <h5>Older Posts</h5>
        <ul class="list-unstyled">
            @foreach(IDocument doc in Documents[BlogKeys.Posts].Skip(ForntPagePostCount).Take(OlderPostsCount))
            {        
                <li><a href="@Context.GetLink(doc)">@doc.WithoutSettings.String(BlogKeys.Title)</a></li>
            }
        </ul>
        <ul class="pager">
            <li class="next">
                <a href="@Context.GetLink(Context.String(BlogKeys.PostsPath))">Archive &rarr;</a>
            </li>
        </ul>
        </div>
        }
        @Html.Partial("_Sidebar")
    </div> 
</div>